body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 290px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/* *Header */
.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-menu {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* flex-grow: 1; */
}

.studio {
    color: #2e2f42;
}

.header-svg {
    fill: #2f2f37;
}

.header-menu-icon {}


/* *Hero */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    min-width: 169px;
    margin: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background: #404bbf;
}

.hero-button:focus {
    background: #404bbf
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-container {}

/* *Qualities */
.qualities {
    padding-top: 96px;
    padding-bottom: 96px;
}

.qualities-wrap {}

.qualities-list {
    display: flex;
    flex-wrap: wrap;
}

.qualities-list-item {
    width: 100%;
}

.qualities-list-item:not(:last-child) {
    margin-bottom: 72px;
}

.qualities-item-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.qualities-item-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* *Team */
.team {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-container {
    width: 264px;
    padding-left: 28px;
    padding-right: 28px;
    margin: 0 auto;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-list-container {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-list-title {
    margin-bottom: 8px;
}

.team-list-text {
    margin-bottom: 8px;
}

.team-iconlist {
    display: flex;
    gap: 24px;
}

.team-iconlist-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-iconlist-link:hover {
    background-color: #404bbf;
}

.team-iconlist-link:focus {
    background-color: #404bbf;
}

.team-list-icon {
    fill: #f4f4fd;
}

/* *Media */
@media screen and (min-width:768px) {
    .container {
        width: 738px;
    }

    /* Hero */
    .hero-wrap {
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 126px;
    }

    .title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .hero-container {}

    /* Qualities */
    .qualities-list {
        row-gap: 24px;
    }

    .qualities-list-item {
        width: calc((100% - 24px) / 2);
    }

    .qualities-item-header {
        text-align: start;
    }

    /* Team */
    .team-container {
        width: 552px;
        padding-left: 108px;
        padding-right: 108px;
        margin: 0 auto;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1128px;
    }

    /* Header */
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-menu-icon {
        display: none;
    }

    .header-container {
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-none-container {
        gap: 332px;
        display: flex;
    }

    .navigation-list {
        display: flex;
        gap: 40px;
    }

    .addsress-list {
        display: flex;
        gap: 40px;
    }

    .navigation-list-item {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
    }

    .navigation-list-item:hover {
        color: #404bbf;
    }

    .navigation-list-item:active {
        text-decoration: underline;
    }

    .navigation-list-item:focus {
        color: #404bbf;
    }

    .underline {
        color: #404bbf;
        position: relative;
    }

    .underline::after {
        content: '';
        display: block;
        width: 48px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -20px;
        background: #404bbf;
        border-radius: 2px;
    }

    .addsress-list-item {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .addsress-list-item:hover {
        color: #404bbf;
    }

    .addsress-list-item:focus {
        color: #404bbf;
    }

    /* Hero */
    .hero-wrap {
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop.jpg);
        margin: 0 auto;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* Qualities */
    .qualities-list-icon {
        fill: transparent;
    }

    .qualities-svg-container {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        padding: 24px 100px;
        background: #f4f4fd;
    }

    .qualities-list-item {
        width: calc((100% - 3*24px) / 4);
    }

    .qualities-list {
        gap: 24px;
    }

    /* Team */
    .team-container {
        width: 1128px;
        padding: 120px 15px 120px 15px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px*3) / 4);
    }
}

@media (min-width:320px) and (max-width:767px) {
    .header-none-container {
        display: none;
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .container {
        width: 738px;
    }

    .header {
        padding: 0;
    }

    .header-container {
        padding-top: 24px;
        padding-bottom: 24px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .header-none-container {
        gap: 120px;
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-menu-icon {
        display: none;
    }

    .navigation-list {
        display: flex;
        gap: 40px;
    }

    .addsress-list {}

    .navigation-list-item {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
    }

    .navigation-list-item:hover {
        color: #404bbf;
    }

    .navigation-list-item:active {
        text-decoration: underline;
    }

    .navigation-list-item:focus {
        color: #404bbf;
    }

    .underline {
        color: #404bbf;
        position: relative;
    }

    .underline::after {
        content: '';
        display: block;
        width: 48px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -30px;
        background: #404bbf;
        border-radius: 2px;
    }

    .addsress-list-item {
        font-size: 12px;
        line-height: 1.17;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        /* align-items: center; */
    }

    .addsress-list-item:hover {
        color: #404bbf;
    }

    .addsress-list-item:focus {
        color: #404bbf;
    }
}

@media (min-width:320px) and (max-width:1157px) {
    .qualities-svg-container {
        display: none;
    }
}